.blue-text {
color : purple;
}

@import url(https://fonts.google.com/specimen/Source+Code+Pro);

body {
    background-color: lightgreen
}

h1 {
    font-family: 'Source', sans-serif;
    font-size: 30px;
    
}