@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

.blue-text {
color : purple;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

body {
    background-image: url("https://i.ytimg.com/vi/8plNbpXJzMY/maxresdefault.jpg");
    background-color: #cccccc;
}
