@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

.blue-text {
color : #9ACD32;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

body {
    background-image: url(https://wallpaperaccess.com/full/439757.jpg);
}

.boxed {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: auto;
    width: 20%;
    background-color: #008B8B;
}