body{/* Tauska tai jtn */
    padding: 0;
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/52/96/7e/52967e9aee1c617cb0668d3ef1704eba.jpg);
}
.kuvat{
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.turha-grid{
    background-color: grey;
    padding: 30px 40px;
    color: silver;
    align-items: center;
    text-align: center;

}

td{
    background-image:"kys.jpg";
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
}