body{/* Tauska tai jtn */
    padding: 0;
    margin: 0;
    background-image: url(https://previews.123rf.com/images/rommmeo79/rommmeo791507/rommmeo79150700182/42460203-pattern-cube-background-abstract-seamless-cubes-background-art.jpg);
}
.kuvat{
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.turha-grid{
    background-color: grey;
    padding: 30px 40px;
    color: silver;
    align-items: center;
    text-align: center;

}

.peli-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 120px;
}

.painettu{
    display:none;
}


td{
    background-image:"kys.jpg";
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
}